.bloco__informacao {
    width: 21.6rem;
    height: 5.9rem;
    border: 2px solid #4BD609;
    margin: 10px 11px 0 7px;
}

.novo__endereco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.25rem 0 1.7rem;
}
