@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(rgb(255, 255, 255, 0.75), rgb(255, 255, 255, 0.75)), url("img/reciclagem-de-residuos.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cabecalho {
    width: 10%px;
    height: 61px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.233), rgba(132, 248, 77, 1));
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.cabecalho__nav {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 11px 0 0 21px;
}

.cabecalho__nav__nome {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.conteudo {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    align-items: center;    
    margin: 15vh 3vh 10vh 3vh;
}

.conteudo__titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 10%;
}

.conteudo__cadastro-entrega {
    margin: 10%;
    border-radius: 4px;
    border: 15px solid rgba(234, 98, 0, 0.5);
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 10%;
    background-color: #f6f6f6;
}

.conteudo__cadastro-entrega__texto {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    text-align: center;
}

.conteudo__cadastro-entrega:hover {
    background-color: rgba(141, 140, 140, 0.5);
    cursor: pointer;
}

.conteudo__cadastro-busca {
    margin: 10%;
    border-radius: 4px;
    border: 15px solid rgba(28, 205, 246, 0.5);
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 10%;
}

.conteudo__cadastro-busca:hover {
    background-color: rgba(141, 140, 140, 0.5);
    cursor: pointer;
}

.conteudo__cadastro-busca__texto {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    text-align: center;
}

.conteudo__img {
    width: 100%;
    height: 61.21px;
    padding-bottom: 10%;
}

.rodape {
    background-color: #5c5c5c;
    padding: 16px 0 16px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}